

{% extends './base.html'%}
{% load static %}
{% block title %} Blood App {% endblock %}


{% block content%} 
{% comment %} Hero section {% endcomment %}
<div class="container hero-section">

    <div class="row mt-5">
        <div class="col-sm-12 col-md-6 col-lg-7 mt-3">
            <div class="right-hero">
                <div class="hero-section-text px-lg-5">
                    <h1>Donate Blood Save Life</h1>
                    <p class="mt-4">Join our community of heroes. Donate blood, respond to emergencies, and make a difference today.</p>
                    <Button class="btn btn-primary mt-3">
                        <a>Join Now</a>
                    </Button>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-5 mt-4">
            <div class="hero-img">
               <img src="{% static 'image/hero-image.png' %}" alt="blood">
            </div>
        </div>
    </div>
</div>


    {% comment %} Fetaure Section {% endcomment %}
    <div class="features">
        <div class="container">
            <h2 class="text-center">Project Features</h2>
            <div class="row mt-5">
                {% comment %} Emergency request {% endcomment %}
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="card common-card mb-4">
                        <div class="icon text-center">
                            <img src="{% static "icons/emergency.svg" %}" alt="emergency">
                        </div>
                        <div class="card-body">
                            <div class="title mb-3">
                                <h5 class='text-center'>Emergency <br> Request</h5>
    
                            </div>
                            <div class="text-body">
                            <p clas>Send urgent blood requests instantly. Match with donors and notify them for fast, lifesaving help.</p>
                        </div>
                        </div>
                        
                    </div>
                    
                </div>
    
                {% comment %} Compatible feature {% endcomment %}
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="card different-card mb-4">
                        <div class="icon text-center">
                            <img src="{% static "icons/compatibility.svg" %}" alt="compatiblity">
                        </div>
                        <div class="card-body">
                            <div class="title mb-3">
                                <h5 class='text-center'> Blood Type <br> Compatibility Matching</h5>
    
                            </div>
                            <div class="text-body">
                            <p clas>Our system matches donors with recipients based on blood type compatibility, ensuring every donation counts.</p>
                        </div>
                        </div>
                        
                    </div>
    
                </div>
    
                {% comment %} Notification Feature {% endcomment %}
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="card common-card mb-4">
                        <div class="icon text-center">
                            <img src="{% static "icons/alert.svg" %}" alt="notify">
                        </div>
                        <div class="card-body">
                            <div class="title mb-3">
                                <h5 class='text-center'>Real Time <br> Notification</h5>
    
                            </div>
                            <div class="text-body">
                            <p clas>Get instant notifications about urgent blood donation needs in your area. Respond quickly and help save lives.</p>
                        </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% comment %} Registration {% endcomment %}

    <div class="container reg-section">
        <h2 class="text-center">Become a Donor today</h2>
        
            
                <div class="registration mx-auto">
                     <div class="donor-form">
                        <form action="" class="row g-3">
                           {% csrf_token %}
                        <div class="col-md-6">
                            <label for="First name" class="form-label">First Name</label>
                            {% comment %} <input type="text" class="form-control" id="First name"> {% endcomment %}
                            {{form.first_name}}
                          </div>
                          <div class="col-md-6">
                            <label for="last name" class="form-label">Last Name</label>
                            {{form.last_name}}
                          </div>
                        <div class="col-md-6">
                            <label for="username" class="form-label">Username</label>
                           {{form.username}}
                          </div>
                          <div class="col-md-6">
                            <label for="email" class="form-label">Email Address</label>
                            {{form.email}}
                          </div>
                          {% comment %} <div class="col-12">
                            <label for="inputAddress" class="form-label">Address</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                          </div> {% endcomment %}
                          <div class="col-md-6">
                            <label for="phonenumber" class="form-label">Phone Number</label>
                            {{form.phone_number}}
                          </div>
                          <div class="col-md-6">
                            <label for="bloodtype" class="form-label">Blood Type</label>
                            {{form.blood_type}}
                          </div>
                         
                         

                          <div class="col-md-6">
                            <label for="password" class="form-label">Password</label>
                            {{form.password1}}
                          </div>
                          <div class="col-md-6">
                            <label for="password2" class="form-label">Confirm Paasword</label>
                            {{form.password2}}
                          </div>
                          <div class="col-12">
                            <button type="submit" class="btn btn-secondary">Register</button>
                          </div>

                     </div>
                
               
               
             
            </div>

        </form>
        
    </div>

{% endblock %}